USE [BiddingSystem]
GO
/****** Object:  Table [dbo].[AuctionSession]    Script Date: 4/5/2026 4:24:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuctionSession](
	[id] [varchar](50) NOT NULL,
	[itemId] [nvarchar](50) NOT NULL,
	[currentPrice] [float] NOT NULL,
	[currentWinnerId] [nvarchar](50) NOT NULL,
	[startTime] [datetime2](7) NOT NULL,
	[endTime] [datetime2](7) NOT NULL,
	[status] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_AuctionSession] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BidTransaction]    Script Date: 4/5/2026 4:24:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BidTransaction](
	[id] [nvarchar](50) NOT NULL,
	[auctionId] [nvarchar](50) NOT NULL,
	[bidderId] [nvarchar](50) NOT NULL,
	[bidAmount] [decimal](18, 0) NOT NULL,
	[bidTime] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_BidTransaction] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Item]    Script Date: 4/5/2026 4:24:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Item](
	[id] [nvarchar](50) NOT NULL,
	[name] [nvarchar](max) NOT NULL,
	[description] [nvarchar](max) NULL,
	[itemType] [nvarchar](50) NOT NULL,
	[sellerID] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Item] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 4/5/2026 4:24:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [nvarchar](50) NOT NULL,
	[username] [nvarchar](50) NULL,
	[password] [nvarchar](max) NULL,
	[fullName] [nvarchar](max) NOT NULL,
	[role] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_Users] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[AuctionSession] ADD  CONSTRAINT [DF_AuctionSession_currentPrice]  DEFAULT ((0)) FOR [currentPrice]
GO
ALTER TABLE [dbo].[BidTransaction] ADD  CONSTRAINT [DF_BidTransaction_bidTime]  DEFAULT (getdate()) FOR [bidTime]
GO
ALTER TABLE [dbo].[AuctionSession]  WITH CHECK ADD  CONSTRAINT [FK_AuctionSession_AuctionSession] FOREIGN KEY([itemId])
REFERENCES [dbo].[Item] ([id])
GO
ALTER TABLE [dbo].[AuctionSession] CHECK CONSTRAINT [FK_AuctionSession_AuctionSession]
GO
ALTER TABLE [dbo].[AuctionSession]  WITH CHECK ADD  CONSTRAINT [FK_AuctionSession_Users] FOREIGN KEY([currentWinnerId])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[AuctionSession] CHECK CONSTRAINT [FK_AuctionSession_Users]
GO
ALTER TABLE [dbo].[BidTransaction]  WITH CHECK ADD  CONSTRAINT [FK_BidTransaction_BidTransaction] FOREIGN KEY([bidderId])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[BidTransaction] CHECK CONSTRAINT [FK_BidTransaction_BidTransaction]
GO
ALTER TABLE [dbo].[BidTransaction]  WITH CHECK ADD  CONSTRAINT [FK_BidTransaction_Item] FOREIGN KEY([auctionId])
REFERENCES [dbo].[Item] ([id])
GO
ALTER TABLE [dbo].[BidTransaction] CHECK CONSTRAINT [FK_BidTransaction_Item]
GO
ALTER TABLE [dbo].[Item]  WITH CHECK ADD  CONSTRAINT [FK_Item_Users] FOREIGN KEY([sellerID])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Item] CHECK CONSTRAINT [FK_Item_Users]
GO
ALTER TABLE [dbo].[AuctionSession]  WITH CHECK ADD  CONSTRAINT [CK_AuctionSession_Status] CHECK  (([status]='CANCELLED' OR [status]='FINISHED' OR [status]='RUNNING' OR [status]='OPEN'))
GO
ALTER TABLE [dbo].[AuctionSession] CHECK CONSTRAINT [CK_AuctionSession_Status]
GO
ALTER TABLE [dbo].[AuctionSession]  WITH CHECK ADD  CONSTRAINT [CK_AuctionSession_TimeLogic] CHECK  (([endTime]>[startTime]))
GO
ALTER TABLE [dbo].[AuctionSession] CHECK CONSTRAINT [CK_AuctionSession_TimeLogic]
GO
ALTER TABLE [dbo].[Item]  WITH CHECK ADD  CONSTRAINT [CK_Item_Type] CHECK  (([itemType]='VEHICLE' OR [itemType]='ELECTRONICS' OR [itemType]='ART'))
GO
ALTER TABLE [dbo].[Item] CHECK CONSTRAINT [CK_Item_Type]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CK_Users_Role] CHECK  (([role]='ADMIN' OR [role]='SELLER' OR [role]='BIDDER'))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CK_Users_Role]
GO
